
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --voidgreen: #00FF5E;
  --voidgreenmuted: #007f2f;
}

/*
@font-face {
  font-family: "glasstty";
    src: url(/fonts/glass_tty_vt220-webfont.woff);
}
*/



body {
  background-color: black;
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  backdrop-filter: blur(2px);
  font-family:"B612 Mono";
  font-size: 16px;
  line-height: 1.5;
  color: var(--voidgreen);
  text-shadow: 0 0 20px var(--voidgreen);
  /* font-family: "glasstty"; */
}

a {
  text-decoration: none;
  color: var(--voidgreen);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.navbar {
  color: var(--voidgreen);
  background-color: rgba(0,0,0,.5);
  padding: 20px;
  border-bottom: 6px solid var(--voidgreenmuted);
  border-width: 0.2em;
}

.navbar {
  list-style: none;
  display: flex;
}

.logo {
  margin: 0.8em;
  width: 12em;
  margin-bottom: 0;
  
  margin-right: auto;
  margin-left: 1.8em;
}

.links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  margin-right: 2em;
}

.navbar ul li a {
  padding: 10px 20px;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--voidgreenmuted);
}

.marquee {
  padding: 0.5em;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  animation: fadeIn 2s;
  text-shadow: 0 0 1px var(--voidgreen);
}

.content {
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: marquee 24s linear infinite;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  25% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}

.info {
  text-shadow: 0 0 0;
  margin: 1em;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
}

/* utility classes */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/*

OLD

.links {
  margin: auto;
  width: 60%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20px;
  font-size: 50px;
}

.links.item {
  align-self: center;
  font-family: "glasstty";
}
  */
